In [2]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
price_df = pd.read_csv('data/data/airbnb_price.csv')
price_df.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [3]:
room_df = pd.read_excel('data/data/airbnb_room_type.xlsx')
room_df.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [4]:
review_df = pd.read_csv('data/data/airbnb_last_review.tsv',sep='\t')
review_df.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [5]:
first_two = price_df.merge(room_df, on='listing_id')
airbnb_df = first_two.merge(review_df, on='listing_id')
airbnb_df.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019

In [6]:
last_review_date = pd.to_datetime(airbnb_df['last_review'])
earliest_review = last_review_date.min()
recent_review = last_review_date.max()
print(f'Earliest data: {earliest_review}\nRecent data: {recent_review}')

Earliest data: 2019-01-01 00:00:00
Recent data: 2019-07-09 00:00:00

In [7]:
# room_type = airbnb_df['room_type'].str.lower()
private_room_count = airbnb_df['room_type'].str.lower().value_counts()['private room']
print(f"\nNumber of private rooms: {private_room_count}")

# private_room = airbnb_df[airbnb_df['room_type'].str.lower()=='private room']
# print(f"\n Number of private rooms: {private_room.shape[0]}")

Number of private rooms: 11356

In [8]:
airbnb_df.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019

In [9]:
avg_price = airbnb_df['price'].str.replace('dollars','').astype('float').mean().round(2)
print(f'\nAverage Price of listings: {avg_price}')

Average Price of listings: 141.78

In [10]:
# review_dates = pd.DataFrame([[earliest_review,recent_review,private_room_count,avg_price]],
#                             index=[0],
#                             columns=['Earliest_review','Recent_review','private_rooms','average_price'])

review_dates = pd.DataFrame({'first_reviewed':[earliest_review],
                            'last_reviewed':[recent_review],
                            'nb_private_rooms':[private_room_count],
                            'avg_price':[avg_price]
                            })
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78